/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Smooch+Sans:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --salmon:#EF9D71;
    --black:#000000;
    --cyan:#AEDEE0;
    --white:#ffffff;
    --darksalmon:#6c3933;
    --darkcyan:#1e5555;
   
}

body{
    transition: background-color ease-out .5s;
}

.vdodiv{
    clip-path: circle(var(--clip) at 50% 50%);
}

*::selection{
    background-color: var(--salmon);
    color:var(--white);
}

.listelem:hover{
    background-color:black;
    color: white;
}

body[theme="black"]{
    background-color: var(--black) ;
}

body[theme="black"] .section{
    color: var(--white);
}

body[theme="cyan"]{
    background-color: var(--cyan);
}

body[theme="cyan"] .section{
    color: var(--darkcyan);
}

body[theme="salmon"]{
    background-color: var(--salmon);
}

body[theme="salmon"] .section{
    color: var(--darksalmon);
}

body[theme="white"]{
    background-color: var(--white);
}

body[theme="white"] .section{
    color: var(--black);
}



.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-space{
    font-family: "Space Grotesk", serif;

}